<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<body>
	<h2>Titulo Post</h2>
	<h2><%= @post.title %></h2>
	<br>
	<h2>Contenido</h2>
	<h4><%= truncate(@post.body, length: 9999) %></h4>
	<br> 
	<h2>Imagen</h2>
	<%= wicked_pdf_image_tag("#{@post.image}") %>
			
</body>
</html>